.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.externalNativeBuild

## Android Studio and Intellij and Android in general

.idea/
*.ipr
*.iws
*.iml
out/
com_crashlytics_export_strings.xml